<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ladwa.aditya.contact">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name="com.ladwa.aditya.contact.ContactApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ladwa.aditya.contact.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ladwa.aditya.contact.util.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.ladwa.aditya.contact.data.local.GoJekProvider"
            android:authorities="com.ladwa.aditya.contact"
            android:exported="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ladwa.aditya.contact.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
            android:name="com.ladwa.aditya.contact.ui.detail.ContactDetailActivity"
            android:label="@string/title_activity_contact_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ladwa.aditya.contact.ui.newcontact.NewContactActivity"
            android:label="@string/title_activity_new_contact"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ae8ec543661f2e84df424ab97e89e24463db20e" />
    </application>

</manifest>